<div class="card" [class.card-settings]="inSettings">
  <div class="card-header text-muted" *ngIf="inSettings">
    Settings
  </div>

  <div class="header-buttons">

    <button type="button" class="btn btn-outline-danger bi bi-trash-fill" *ngIf="inSettings" (dblclick)="deleteSelf()"
    data-toggle="tooltip" data-placement="top" title="Double click to delete"></button>
    <i class="gear btn bi bi-gear-fill" (click)="inSettings = !inSettings"></i>
  </div>

  <div class="card-body">

    <ng-container *ngIf="inSettings">
      <div class="form-group">
        <label for="type-{{id}}">Display type</label>
        <select class="form-control" id="type-{{id}}" [formControl]="form.type">
          <option value="gauge">Gauge</option>
          <option value="chart">Chart</option>
        </select>
      </div>

      <div class="form-group">
        <label for="width-{{id}}">Width</label>
        <input id="width-{{id}}" class="form-control" type="number" name="width" [formControl]="form.width" min="1"
          max="6" />
      </div>



    </ng-container>
    <ng-container [ngSwitch]="control.type">
      <app-gauge-control *ngSwitchCase="'gauge'" [inSettings]="inSettings"></app-gauge-control>
      <ng-container *ngSwitchDefault>Unknown control</ng-container>
    </ng-container>
  </div>
</div>