<div class="content-wrapper">

  <article class="paper">
    <section>
      <h1>Device detail</h1>
      <div class="col-6-lg">
        <div>
          <b>ID:</b>
          {{ device.id }}
        </div>
        <div>
          <b>IP address:</b>
          {{ device.ipAddress }}
        </div>
      </div>
      <div class="col-6-lg">
        <div>
          <b>Uptime:</b>
          {{ device.uptimeSeconds }}
        </div>
        <div>
          <b>Uptime:</b>
          {{ device.uptimeSeconds }}
        </div>
      </div>
    </section>
  </article>

  <article class="paper">
    <section class="interfaces">
      <h2>Device interfaces</h2>
      <ul *ngIf="device.interfaces">
        <li *ngFor="let iface of device.interfaces">
          <div class="col-6-lg">
            <div class="col-4"> id: <span> {{ iface.id }} </span> </div>
            <div class="col-8"> <input type="text" id="ifname-{{iface.id}}" [(ngModel)]="iface.name"> </div>
          </div>
          <div class="col-6-lg" [ngSwitch]="iface.type">
            <span *ngSwitchCase="'switch'">
              state: <input type="checkbox" [(ngModel)]="iface.state"> {{ iface.state ? 'on' : 'off' }}
            </span>
            <span *ngSwitchCase="'probe'">
              measured value: {{ precision(iface.value, 3) }}
            </span>
          </div>
        </li>
      </ul>
      <p *ngIf="!device.interfaces || device.interfaces.length === 0">No interfaces available</p>
    </section>
  </article>

</div>