@import "../../pages/dashboard/variables";
@import "../../../variables";

.card {
  //flex-grow: 1;
  //padding: 8px;
  margin: $card-pad;
  position: relative;
  width: 100%;
  transition: all .5s;
  overflow: hidden;

  .header-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1px;

    & > * {
      margin-left: 6px;
    }
  }

  .gear {
    transition: inherit;
    color: darken($body-color, 10);
  }

  .card-body {
    overflow-y: auto;
  }

  &.card-settings {
    background-color: rgba(#046, 0.1);
    .gear {
      color: lighten($body-color, 10);
    }
  }
}


