@import "../variables";

nav.navbar {
  background: linear-gradient(4deg, $primary, $primary-special);
}

.toast-container {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;

  @include sm-and-less {
    top: 20px;
    right: 20px;
    max-width: calc(100% - 40px);
  }
}

.toast-danger {
  .toast-header {
    background-color: #f8d7da;
    color: #842029;
  }

  border-color: #e6b1b7;
}