<div class="card">
  <div *ngIf="loggedIn" class="card-body">
    <h1 class="card-title">User detail</h1>
    <h6 class="card-subtitle mb-2 text-muted">Currently logged in as {{tokens.jwt.getSubject()}}</h6>
    <div>
      <span class="d-none"> Time left to expiration: <b>{{ timeLeft.toString() }}</b> </span>
      <button class="btn btn-outline-primary ms-3" (click)="clickLogout()">Logout</button>
    </div>
    <div class="d-none">
      Tokens:
      <pre>{{ tokens | json }}</pre>
    </div>
  </div>
</div>