//
// Obecne

$primary: #37d;
$primary-special: rgb(86, 41, 194);
$primary-active: darken($primary, 20%);

$body-color: #eee;
$body-font: ("Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif);

$paper-padding: 30px;
$paper-margin: 20px;

// Hlavicka

$topnav-height: 50px;
$topnav-glass: rgba(255, 255, 255, 0.1);
$topnav-glass-active: rgba(255, 255, 255, 0.0);
$topnav-glass-hover: rgba(255, 255, 255, 0.2);

// Menu na strane

$sidenav-width: 250px;
$sidenav-item-size: 50px;
