@import "variables";
@import "styles.forms";
@import "styles.navbar";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

/* Obecne */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $body-font;
  background-color: $body-color;
  min-height: 100vh;

  .container {
    padding-top: 16px;
  }
}
h1 {
  margin-bottom: 14px;
  font-size: 1.7rem;
}
h2 {
  margin-bottom: 11px;
  font-size: 1.3rem;
}
.mono {
  font-family: monospace;
}

// Icons
i.bi {
  vertical-align: middle;
}

// Util classes

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

// responsive stuff

@each $name, $size in $grid-breakpoints {
  @media (max-width: $size) {
    .hide-lt-#{$name} {
      display: none;
    }
  }
}
